-
	const pricesList = [
		{
			title: `RitmStyle с погружением`,
			price: `1000р.`,
		},
		{
			title: `Абонемент на RitmStyle`,
			price: `5500р.`,
		},
		{
			title: `RitmStyle для пар`,
			price: `6000р.`,
		},
		{
			title: `RitmStyle для беременных`,
			price: `13500р.`,
		},
		{
			title: `RitmStyle +  фотосессия`,
			price: `11500р.`,
		},
	]

section.prices
	h2.prices__title.title(data-aos="fade-up") Стоимость сеансов
		+svg('leaf leaf--left', 'leaf--left')
		+svg('leaf leaf--right', 'leaf--right')
	.prices__content
		- let pricesDelay = 0
		ul.prices__list
			each item in pricesList
				li.prices__item(data-aos="fade-right" data-aos-delay=pricesDelay)
					+svg('leaf leaf--left prices__item-leaf', 'leaf--left')
					h5.prices__item-title= item.title
					span.prices__item-price= item.price
				- pricesDelay += 100
		.prices__card
			.prices__card-image(data-aos="fade-left" data-aos-delay=pricesDelay+150)
				img(src='@img/thanks.jpg').prices__card-img
			.prices__card-label(data-aos="fade-left" data-aos-delay=pricesDelay+300) Подарочный сертификат 